<?xml version='1.0' encoding='utf-8'?>
<widget id="cordova.plugins.diagnostic.example" version="3.8.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Diagnostic plugin example</name>
    <description>
        An example app that demonstrates use of cordova.plugins.diagnostic
    </description>
    <author email="dave@workingedge.co.uk" href="http://www.workingedge.co.uk/dave">
        Dave Alden
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="false" />
    <platform name="android">
        <custom-config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
            <uses-permission android:name="android.permission.READ_CONTACTS" />
            <uses-permission android:name="android.permission.READ_CALENDAR" />
        </custom-config-file>
    </platform>
    <platform name="ios">
        <plugin source="git" spec="https://github.com/transistorsoft/cordova-plugin-background-fetch.git#3.0.4" />
        <plugin name="phonegap-plugin-push" version="*">
            <param name="SENDER_ID" value="12345678" />
        </plugin>
        <custom-config-file parent="UIBackgroundModes" platform="ios" target="*-Info.plist">
            <array>
                <string>fetch</string>
                <string>remote-notification</string>
            </array>
        </custom-config-file>
    </platform>
    <platform name="windows">
        <preference name="windows-target-version" value="10.0" />
        <preference name="target-device" value="universal" />
        <preference name="Windows.Universal-MinVersion" value="10.0.0.0" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="*" />
    <plugin name="cordova-plugin-device" spec="*" />
    <plugin name="cordova-custom-config" spec="*" />
    <plugin name="cordova-plugin-geolocation" spec="*" />
    <plugin name="cordova-plugin-camera" spec="*" />
    <plugin name="cordova-plugin-file" spec="*" />
    <plugin name="cordova.plugins.diagnostic" spec="*" />
    <engine name="android" spec="latest" />
    <engine name="ios" spec="latest" />
    <engine name="windows" spec="latest" />
</widget>
