<?xml version='1.0' encoding='utf-8'?>
<widget
        id="cordova.plugins.diagnostic.example"
        version="3.1.4"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Diagnostic plugin example</name>
    <description>
        An example app that demonstrates use of cordova.plugins.diagnostic
    </description>
    <author email="dave@workingedge.co.uk" href="http://www.workingedge.co.uk/dave">
        Dave Alden
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="Fullscreen" value="false" />
    <preference name="phonegap-version" value="cli-6.1.0" /> <!-- Phonegap Build only -->

    <plugin name="cordova-plugin-whitelist" version="*" />
    <plugin name="cordova-plugin-device" version="*" />
    <plugin name="cordova-custom-config" version="*" />
    <plugin name="cordova-plugin-geolocation" version="2.1.0" />
    <plugin name="cordova-plugin-camera" version="2.1.0" />

    <plugin name="cordova.plugins.diagnostic" version="3.2.0" />

    <platform name="android">
        <preference name="android-build-tool" value="gradle" /> <!-- Phonegap Build only -->
        
        <preference name="android-minSdkVersion" value="21" />
        <preference name="android-targetSdkVersion" value="23" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

            <uses-permission android:name="android.permission.RECORD_AUDIO"/>

            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

            <uses-permission android:name="android.permission.READ_CONTACTS" />

            <uses-permission android:name="android.permission.READ_CALENDAR" />
        </config-file>
    </platform>

    <platform name="ios">
        <plugin name="cordova-plugin-bluetooth-serial" version="0" />
        <plugin name="https://github.com/christocracy/cordova-plugin-background-fetch.git" version="3.0.4" />
        <plugin name="phonegap-plugin-push" version="*" />

        <!-- Set properties for remote notifications -->
        <config-file platform="ios" target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
                <string>remote-notification</string>
            </array>
        </config-file>

    </platform>

    <platform name="windows">
        <preference name="windows-target-version" value="10.0" />
        <preference name="target-device" value="universal" />
        <preference name="Windows.Universal-MinVersion" value="10.0.0.0" />
    </platform>
</widget>
